<div align="center" style="font-family:'Times New Roman', Times, serif">
  <h2>
    Render Service
  </h2>
  <p>
    The Render Service manages rendering of vector, raster and 3D graphics to the display.
    A web page can have multiple displays.
    An actor can have multiple render objects connected to any display.
    On this page you can view 2 displays.
    The top display is this sites menu featuring a vector renderer that draws a pie with selectable slices.
    The bottom display is demonstrates a pseudo 3D racing game with 3 renderers.
  </p>
  <h3>
    Display and Render Agents
  </h3>
  <p>
    Display attaches to a page canvas. A global object that get referenced by the Actor content obect and Render service.
    The Render agent configures the resolution, coordinate system and graphic drawing to the back buffer, a <a href="https://www.pcmag.com/encyclopedia/term/double-buffering">double buffering</a> technique.
    The render service will call on each renderer to draw to the back buffer, then blit the buffer to the display.
  </p>
  <img src='assets/images/render.svg' width="520" height="520" style="margin-top:-160px; margin-bottom:-160px;" />
  <p>
    The pseudo 3D racing game is built with 3 renderers
    The back renderer (mountains and clouds) is a parallax 2D background at a 420 X 270 pixel resolution with a <a href="https://en.wikipedia.org/wiki/Cartesian_coordinate_system">2D cartesian coordinate system</a>.
    The middle renderer (road and cars) is a pseudo 3D renderer at a 1,260 X 810 pixel resolutions using a <a href="https://en.wikipedia.org/wiki/2.5D">2.5D screen coordinate system</a>.
    The front renderer is a sprite 2D renderer at a 420 X 270 pixel resolution with a <a>2D cartesian coordinate system</a>.
  </p>
  <h3>
    Gameplay
  </h3>
  <p>
    Drive the car inbounds avoiding oncoming vehicle collisions to view the beautiful pseudo 3D scenery.
    Car can steer left, right, straight and break. The following are input directions:
  </p>
  <div align="left">
    <ul style="list-style-type:none">
      <li>
        <span class="material-icons" style="vertical-align:-6px;">mouse</span>
        <span style="font-size:20px; color:Highlight;">Mouse</span>
        <ul style="list-style-type:disc">
          <li>Hover upper center part of car to speed up forward.</li>
          <li>Hover left part of car to steer left.</li>
          <li>Hover right part of car to steer right.</li>
          <li>Hover lower part of car to break.</li>
        </ul>
    </ul>
    <ul style="list-style-type:none">
      <li>
        <span class="material-icons" style="vertical-align:-6px;">gamepad</span>
        <span style="font-size:20px; color:Highlight;">Gamepad</span>
        <ul style="list-style-type:disc">
          <li>XBox 360 Gamepads</li>
          <li>Thumb pad Up - speed up forward.</li>
          <li>Thumb pad Left - steer left.</li>
          <li>Thumb pad Right - steer right.</li>
          <li>Thumb pad Down - break.</li>
        </ul>
    </ul>
    <ul style="list-style-type:none">
      <li>
        <span class="material-icons" style="vertical-align:-6px;">keyboard</span>
        <span style="font-size:20px; color:Highlight;">Keyboard</span>
        <ul style="list-style-type:disc">
          <li>Key w - speed up forward.</li>
          <li>Key a - steer left.</li>
          <li>Key d - steer right.</li>
          <li>Key s - break.</li>
        </ul>
    </ul>
    <ul style="list-style-type:none">
      <li>
        <span class="material-icons" style="vertical-align:-6px;">fingerprint</span>
        <span style="font-size:20px; color:Highlight;">Touch</span>
        <ul style="list-style-type:disc">
          <li>Touch upper center part of car to speed up forward.</li>
          <li>Touch left part of car to steer left.</li>
          <li>Touch right part of car to steer right.</li>
          <li>Touch lower part of car to break.</li>
        </ul>
    </ul>
  </div>
  <span style="font-size:x-large; color:darkcyan">Pseudo 3D Racer</span>
  <br />
  <canvas id="racer" width="480" height="270" style="background-color:aqua; width:480px; height:270px;"></canvas>
  <br /><span style="color:red; font-size:8px;">* NOTE: Pseudo 3D Racer game JavaScript code is taken from Jake Gordon's Code Complete article.<a href="https://codeincomplete.com/articles/javascript-racer">Code Complete Racer Game</a>.</span><br />
  <console align="left" name="Racer"></console>

</div>
