<div align="center" style="font-family:'Times New Roman', Times, serif">
  <span style="font-size:x-large; color:darkcyan">Orthographic 3D Racer</span>
  <br />
  <canvas id="racer" width="480" height="270" style="background-color:aqua; width:480px; height:270px;"></canvas>
  <br /><span style="color:red; font-size:8px;">* NOTE: Pseudo 3D Racer game JavaScript code is taken from Jake Gordon's Code Complete article.<a href="https://codeincomplete.com/articles/javascript-racer">Code Complete Racer Game</a>.</span><br />
  <console align="left" name="Racer"></console>

</div>
