
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div align="center" style="font-family:'Times New Roman', Times, serif">
  <div style="font-weight:600; color:coral; font-style:italic;">
    It's Just an Illusion
    <span class="material-icons" style="color:darkmagenta; font-size:20px; margin-left:0px;">audiotrack</span> Ah Ha
    <span class="material-icons" style="color:darkmagenta; font-size:20px; margin-left:0px;">audiotrack</span>
  </div>
  <div>
    <canvas id="horse" width="450" height="270"></canvas>
    <console align="left" name="Horse"></console>
    <div style="font-weight:600; color:darkslateblue; font-style:italic;">
      <button *ngIf="!audioOn" (click)="toggleAudio()" class="material-icons" style="outline:none; border:none; background:none; color:lightgray; font-size:24px; margin-left:0px;">volume_off</button>
      <button *ngIf="audioOn" (click)="toggleAudio()" class="material-icons" style="outline:none; border:none; background: none; color:darkolivegreen; font-size:24px; margin-left:0px;">volume_up</button>
      Apply circular motion on movie reel to synchronize horse racer animation for 10 seconds for a surpise!
    </div>
    <p>
      For agile, software design is premised on
      <a href="https://en.wikipedia.org/wiki/Object-oriented_design">OOD</a>
      object oriented design principles such as <a href="https://en.wikipedia.org/wiki/SOLID">SOLID</a>,
      <a href="https://en.wikipedia.org/wiki/KISS_principle">KISS</a> and
      <a href="https://en.wikipedia.org/wiki/Composition_over_inheritance">aggregation</a>.
    </p>
  </div>
</div>
