
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div align="center" style="font-family:'Times New Roman', Times, serif">

  <h3>
    Introduction
  </h3>
  <p>
    Gorilla IO is a proven game developers <a href="https://en.wikipedia.org/wiki/Software_architecture">software architecture.</a> with over 25 years of expertise in building over 45 published game titles.
    The architecture addresses fundamental software mechanics, structures and relationships needed to efficiently build games, game engines and multimedia software systems.
    Concepts apply to any modern programming language and multimedia platforms from the lowest firmware level to a higher utility level provided by professional game engines such as Unreal and Unity (ideal for Interop).
  </p>
  <p>
    A primary objective of Gorilla IO architecture is to partition software into solid modules called services that service the application cycle, also known as the game loop.
    Services are engineered to facilitate building application content for optimal <a href="https://en.wikipedia.org/wiki/Input/output"> IO (input/output)</a> performance
    in a coequal <a href="https://en.wikipedia.org/wiki/Object-oriented_design">OOD</a> environment as code blocks easily pipelined by <a href="https://en.wikipedia.org/wiki/Agile_software_development">agile</a> methodologies.
  </p>
  <p>
    This site documents the design, mechanics, principles and practice of Gorilla IO with articles and live examples.
    Note, the animated main menu in the form of a pie with selectable slices to articles.
    This is intended to give the sense of architecture in motion as you navigate.
  <p>
    The Gorilla IO web site is built with a Gorilla IO <a href="https://www.typescriptlang.org/">Typescript</a> Engine implementation scaffolded with <a href="https://angular.io">Angular</a>.
    This 'Home' page gives a technology overview with brief discussion of the core concepts of Gorilla IO.
    The 'Stage' page dives deeper into the makeup of an application service and content object transformations.
    The 'Scene' page discusses the game application activity module with 2D and pseudo 3D game examples.
    The remaining top pages, selectable by pie slice, represent a Gorilla IO service pattern you can drill down to sample.
  <p>
    To further view internal states and action log,
    you will find <span style="vertical-align:-7px;" class="material-icons">visibility</span>&nbsp;<b>Console</b>&nbsp; expandable element below each page area where Gorilla IO is applied.
    Select selected pie slice to navigate back to this 'Home' page.
    Select the gorilla icon center of site title to replay the Welcome page.
  </p>
  <h3>
    History
  </h3>
  <p>
    Below is a brief history to get an idea of the evolution and productivity impact of Gorilla IO.
    All products were efficiently developed with in house software technologies.
    Many products, such as <q>Talk with me Barbie</q>,&nbsp;
    <q>My Interactive Pooh</q> and <q>Barbie Photo Designer</q> required software interaction with toy devices.
    <img src='assets/images/barbietalk.jpg' style="margin:8px; " width="190" height="180" />
    <img src='assets/images/pooh.jpg' style="margin:8px; " width="158" height="180" />
    <img src='assets/images/BarbieDigital.jpg' style="margin:8px;" width="150" height="180" />
  <p>
    Each year we would analyze potential third-party game engines for upcoming projects.
    However; many were immature at the time, either they did not support the platform or meet the product development requirements.
    Today's game development tools and engines, such as <a href="https://unity.com/">Unity</a> and <a href="https://www.unrealengine.com/en-US/">Unreal</a>, are excellent developer choices and highly recommended.
    Also, you can investigate the numerous JavaScript game developer libraries and tools on the internet for the web browser.
    Regardless of what developer technology you decide to adopt, a grasp of Gorilla IO architecture will excel your technical design solutions.
  </p>
  <img [@hover]=hover style="margin:8px; float:left" width="53" height="75" src='assets/images/flipout.jpg'
       (mouseenter)="hover='hover'"
       (mouseleave)="hover='regular'" />
  <p>
    <a href="https://en.wikipedia.org/wiki/FlipOut!" style="font-weight:600; font-style:italic;">
      FlipOut!
    </a>
    The first video game developed by
    <a href="http://www.gorillacorp.com">Gorilla Systems Corp</a> was released in 1995 for the
    <a href="https://en.wikipedia.org/wiki/Atari_Jaguar">Atari Jaguar 64 bit.</a>
    Written entirely in assembly language to the firmware chipset.
  </p>
  <p>
    Founded in 1989, Gorilla initially developed GorillaTalk, an unique <a href="https://en.wikipedia.org/wiki/Internet_protocol_suite">TCP/IP</a>&nbsp;<a href="https://en.wikipedia.org/wiki/Microservices">microservice</a>  technology, featuring extremely fast pre-cashed <a href="https://en.wikipedia.org/wiki/SQL">SQL</a> cursors, for specialized vertical market custom applications built with GUI front ends to legacy back ends.
    In 1994 <a href="http://www.timewarner.com/">Time Warner</a> contracted Gorilla to build <a href="https://en.wikipedia.org/wiki/Full_Service_Network">FSN</a>
    pizza <img src='assets/images/pizzatv.png' style="margin-right:8px; float:left" width="90" height="70" />
    and banking ITV (Interactive TV)
    <img src='assets/images/banktv.png' style="margin-left:8px; float:right" width="90" height="70" />
    applications on settop by TV remote using GorillaTalk for speedy communication services to the business back end systems.
  </p>
  <p>
    As more projects came aboard from Mattel, Disney and other publishers,
    Gorilla evolved into a full in house game development studio staffed with 2D/3D artists/animators, art directors, writers, cartoonists, sound technicians and software engineers.
    <br />
    <img src='assets/images/hannah.jpg' style="margin:8px; float:left" width="334" height="300" />
    <img src='assets/images/cakemania.jpg' style="margin:8px;" width="215" height="295" />
    <img src='assets/images/spykids.jpg' style="margin:8px;" width="120" height="120" />
    <img src='assets/images/barbiediscovery.jpg' style="margin:8px; " width="120" height="165" />
    <img src='assets/images/allstar.jpg' style="margin:8px; " width="144" height="190" />
    <img src='assets/images/nancy_drew_park.jpg' style="margin:8px; " width="144" height="130" />
    <img src='assets/images/strawberry.jpg' style="margin:8px; " width="160" height="150" />
    <img src='assets/images/monstersinc.png' style="margin:8px; " width="150" height="150" />
    <img src='assets/images/littlemermaid.jpg' style="margin:8px; " width="150" height="150" />
  </p>
  <p>
    In 1996, Gorilla innovated Gorilla IO. A software architecture to facilitate the technical challenges of building interactive media applications and video games on disparate platforms.
    Game titles built with Gorilla Vision ( a Gorilla IO C/C++ multiplatform game engine implementation ) are viewable at the <a href="http://www.gorillacorp.com">Gorilla Systems Corp</a> website.
  </p>
  <h3>
    Architecture
  </h3>
  <p>
    This section discusses the Gorilla IO Architecture in terms of facets by Premise, Design, Mechanics and Principles.
    Applying these concepts are examined further in the services 'Stage', 'Scene', 'Task', 'Device', 'Message' and 'Render' pages.
  </p>
  <h4>Overview</h4>
  <p>
    Gorilla IO defines a <a href="https://en.wikipedia.org/wiki/Software_architecture"> software architecture</a> for universally building interactive media and game applications on any given <a href="https://en.wikipedia.org/wiki/Computing_platform">computing platform.</a>
    Implementations range from low level platforms (game console, smart devices) coded in hardware assembly and <a href="https://en.wikipedia.org/wiki/C_(programming_language)">C</a> languages.
    To mid-level platforms: PC, Mac and <a href="https://en.wikipedia.org/wiki/Unix">Unix</a>(ITV) coded in <a href="https://en.wikipedia.org/wiki/C%2B%2B">C/C++</a> and <a href="https://en.wikipedia.org/wiki/Java_(programming_language)">Java</a> languages.
    To high-level platforms such as a Web browser application coded in <a href="https://en.wikipedia.org/wiki/JavaScript">JavaScript</a>.
    This site is built with a <a href="https://en.wikipedia.org/wiki/TypeScript">TypeScript</a>, a syntactical superset of JavaScript, implementation of Gorilla IO for the Web browser.
  </p>
  <h4>Premise</h4>
  <blockquote>Its Just an Illusion</blockquote>
  <div>
    <img src='assets/images/michelangelo.png' />

    <blockquote>'Every block of stone has a statue inside it and it is the task of the sculptor to discover it.' - <a href="https://en.wikipedia.org/wiki/Michelangelo"><em>Michelangelo</em></a></blockquote>
    <p>
      To reflect on Michelangelo's quotes, the sculptor has expertise of subject anatomy to expressively chip away to the skin.
      An architecture premise derives from deconstructing existing heterogeneous software systems to thier core structures.
      To further postulate with <a href="https://en.wikipedia.org/wiki/The_Horse_in_Motion">Eadweard Muybridge's </a> <em><b>The Horse in Motion</b></em>,
      <a href="https://en.wikipedia.org/wiki/Chronophotography">chronophotography</a>, an early method in the 1880's to photographically record the passing of time.
      A sequence of cards rotating on a <a href="https://en.wikipedia.org/wiki/Zoopraxiscope">zoöpraxiscope</a> depicts a premise for time precision in the moment for the animated effect.
    </p>
  </div>

  <div style="font-weight:600; color:coral; font-style:italic;">
    It's Just an Illusion
    <span class="material-icons" style="color:darkmagenta; font-size:20px; margin-left:0px;">audiotrack</span> Ah Ha
    <span class="material-icons" style="color:darkmagenta; font-size:20px; margin-left:0px;">audiotrack</span>
  </div>
  <div>
    <canvas id="horse" width="450" height="270"></canvas>
    <console align="left" name="Horse"></console>
    <div style="font-weight:600; color:darkslateblue; font-style:italic;">
      <button *ngIf="!audioOn" (click)="toggleAudio()" class="material-icons" style="outline:none; border:none; background:none; color:lightgray; font-size:24px; margin-left:0px;">volume_off</button>
      <button *ngIf="audioOn" (click)="toggleAudio()" class="material-icons" style="outline:none; border:none; background: none; color:darkolivegreen; font-size:24px; margin-left:0px;">volume_up</button>
      Apply circular motion on movie reel to synchronize horse racer animation for 10 seconds for a surpise!
    </div>
    <p>
      For agile, software design is premised on
      <a href="https://en.wikipedia.org/wiki/Object-oriented_design">OOD</a>
      object oriented design principles such as <a href="https://en.wikipedia.org/wiki/SOLID">SOLID</a>,
      <a href="https://en.wikipedia.org/wiki/KISS_principle">KISS</a> and
      <a href="https://en.wikipedia.org/wiki/Composition_over_inheritance">aggregation</a>.
    </p>
    <h4>Mechanics</h4>
    <p>
      Mechanics describes structured data movement in segments of time, namely a frame.
      Each frame breaks the linear execution into small software parts to maintain the illusion that all frame computations happen at the same time or in the moment.
      Therefore, each software part assumes the same time when frame execution starts.
      This is called the Stage time which is stamped by the Stage before a frame cycle begins.
      Platforms can have a <a href="https://en.wikipedia.org/wiki/Frame_rate">frame rate</a> from 10 fps(frame per second) minimum needed to maintain the illusion of motion on low end systems to over 120 fps on advanced platforms.
      Typical systems have a target of 60 fps of 16ms (milliseconds) which we will use, going forward, as the example.
      See the diagram of a frame illustrated by a gear like clock with divided into 16 for each millisecond.
      <img src="assets/images/clock.png" style="margin:8px; float:left" />
      Each section slice, called a Service, is processed in sequence until the last section to complete the frame cycle.
      Then a new frame begins and so forth.
      Services are unique <a href="https://en.wikipedia.org/wiki/Black_box">black boxes</a> executed in sequence.
      It is said that when a service is processing, it has the focus.
      The arrow moves in a clockwise direction initially pointing to a the slice of operation data for the Stage Service in focus for the first 2ms (1-2) frame section.
      After that the Message Service will take focus to process 4ms (3-6).
      Then respectfully Task Service 2ms (7-8), Render Service 2ms(9-10) and Scene Service 2ms (11-12)
      The remaining 4ms section grayed out is not a service therefore no service focus or processing until the frame starts again at millisecond (1).
    </p>
    <h4>Design</h4>
    <div align="center">
      <p>
        Software is designed by partitioning content and engine code.
        Engine code is further partitioned into black box components call services controlled by the Stage platfrom manager.
        The Stage is a special service that layers the platform as the services controller.
        Actors are content code aggregates of service supplied content objects called agents.
        Services are considered engine modules.  Content coding is the act of scripting agents.
        Content code communicates with services indirectly via agents that conform to the architecture principles.
        The Agent is an Actor content object aggregate registered to a service that manipulates state each frame cycle.

      </p>
      <img src='assets/images/architechture.svg' width="380" height="380" style="margin-top:-40px; margin-bottom:-40px;" />
    </div>
    <div align="center">
      <p>
        For the example below: The Scene service has transitioned to the Game Scene.
        The Game Scene constructs by subscribing to the Task service for content logic scripting and aggregating actors Background Actor and Player Actor.
        The Background Actor subscribes to the Render service to display image.
        The Player Actor subscribes to the Input service for user control, Task service for scripting and Render service to display image animations.
      </p>
      <img src='assets/images/actors.svg' width="420" height="220" />
    </div>
    <h4>Principles</h4>
    <p>
      Gorilla IO architecture roots at services.
      Principles adhere to <a href="https://en.wikipedia.org/wiki/Object-oriented_programming">OOP</a>
      trending to a <a href="https://en.wikipedia.org/wiki/Data-driven_programming">data-driven</a>
      approach as opposed to <a href="https://en.wikipedia.org/wiki/Event-driven_programming">event-driven</a> architectures.
    </p>
    <ul align="left">
      <li>
        <span style="font-weight:bold">Moment Principle</span><br />
        <img src='assets/images/moment.svg' width="260" height="260" style="float:right; margin:-30px" />
        &nbsp;&nbsp;&nbsp;&nbsp;A moment in time is measured by the amount of time it takes to process a frame, typically 16ms.
        Services execute code linearly by the Stage time constant stamped before the frame begins to process.
        This maintains the illusion of a moment in time, as all content logic is based on Stage time.
        For finer time granularity (less than 16ms), a service can generate sequenced time data for content logic consumption.
        &nbsp; <br />
      </li>
      <li>
        <span style="font-weight:bold">Aggregation</span><br />
        &nbsp;&nbsp;&nbsp;&nbsp;
        Aggregation prefers <a href="https://en.wikipedia.org/wiki/Composition_over_inheritance">composition over inheritance</a>.
        Content objects are modules composited by service content objects and/or other content objects.
        For lower level programming languages such as (C/C++ or Objective C), the simple act of object aggregation will naturally optimize memory allocation.
        Aggregation simplifies object definitions. A benefit to the refactoring effort with intuitive re-composition.<br />
        For example: extracting out code can be a matter of moving aggregated modules and logic to the new module.
        Game Scene keeps Scene Task then aggregates Background Actor and Player Actor.
        <img src='assets/images/refactor.svg' width="380" height="280" style="margin:-70px 0 -70px" />
      </li>
      <li>
        <span style="font-weight:bold">Monotonic State</span><br />
        &nbsp;&nbsp;&nbsp;&nbsp;
        Service Agent state, transformed at the service layer ready to use by content, remains unchanged (monotonic) during the frame cycle.
        Requests that impose on a service's internal state while that service has focus is posted to next cycle.
        Below example shows the Mouse service translates the Mouse content object data to position values X=10 and Y=40.
        The Mouse position values X=10 and Y=40 state are monotonic across Game Scene service content objects until the next Mouse service focus to update new values of X and Y.
        <img src='assets/images/monotonic.svg' width="420" height="240" style="margin:-50px 0 -20px" />
      </li>
      <li>
        <span style="font-weight:bold">Atomic Cohesion</span><br />
        &nbsp;&nbsp;&nbsp;&nbsp;
        A Service has nearly perfect <a href="https://en.wikipedia.org/wiki/Cohesion_(computer_science)">cohesion (atomic)</a>
        All service state is internal, only the exposed operation method process() is called exclusively by the stage each cycle.
        Content communicates with a service by delegated aggregate service agents.
        Agents have degrees of functional cohesion depending on the class shape needed for content consumption.
        Scenes and Actors have procedural cohesion as they script agents which have functional cohesion to the service.
        <img src='assets/images/cohesion.svg' width="460" height="280" style="margin:-40px 0 -70px" />
      </li>
      <li>
        <span style="font-weight:bold">Synergic Multitasking</span><br />
        &nbsp;&nbsp;&nbsp;&nbsp;
        Synergic multitasking, similar to <a href="https://en.wikipedia.org/wiki/Cooperative_multitasking">cooperative multitasking</a> with <a href="https://en.wikipedia.org/wiki/Coroutine">coroutines</a>,  partitions the loop process into logical cooperative pieces.
        Content object scripted routines are constructed by stringing these pieces separated by time into a linear procedure.
        Content code logic has the ability to yield to another task or sleep its own execution in milliseconds.
        Below illustrates a content Actor aggregated with a Task agent that subscribes to the Task service.
        Task logic yields to sleep for 0-n ms. Yielding at zero milliseconds guarantees wakeup at next cycle.
        Task service wakes up Task which then continues with content logic.
        <img src='assets/images/synergic.svg' width="460" height="280" style="margin:-40px 0 -70px" />
      </li>
    </ul>
    <br /><br />
  </div>
</div>
